node_modules
.next
out
dist
build
coverage
playwright-report
test-results
.ignore
.paw
.meta
.logs
temp

src/content
src/compiled-content
src/lib/components/mdx/mdxComponents.tsx
src/**/*.metadata.json
messages/**/index.json
public/library/images

package-lock.json
next-env.d.ts
*.min.*
*.bak
